.first 
{
    border: 1px dotted black;
    padding: 10px;
    max-width: 25%;
    margin: 3px;
    display: inline-block;
}

.second
{
    border: 1px dotted black;
    max-width: 75%;
    margin: 3px;
    display: inline-block;
    vertical-align: top;
}

.text-red
{
    color: #DD0000;
    background-color: #AAAAAA;
}

.text-green
{
    color: #00DD00;
    background-color: #AAAAAA;
}

.text-blue
{
    color: #0000DD;
    background-color: #AAAAAA;
}

.block
{
    border-radius: 20px;
    margin: 5px;
    background-color: #4488AA
}

.block:hover
{
    border-radius: 20px;
    margin: 5px;
    background-color: #44FFAA
}

img
{
    height: 150px;
    /*min-height: 150px;*/
}

.main-content
{
    border: 2px solid black;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    padding: 5px;
}

p
{
    margin-left: 10px;
}